@charset "UTF-8";
/**
 * display: flex | inline-flex; (Applies to: parent flex container element)
 *
 * This defines a flex container; inline or block depending on the given value.
 * Thus, it enables a flex context for all its direct children.
 * NOTE:
 * - CSS columns have no effect on a flex container
 * - float, clear and vertical-align have no effect on a flex item
 */
/**
 * flex-flow: <‘flex-direction’> || <‘flex-wrap’>
 *
 * This is a shorthand `flex-direction` and `flex-wrap` properties, which
 * together define the flex container's main and cross axes.
 * Default is "row nowrap";
 */
/**
 * flex-direction: row (default) | row-reverse | column | column-reverse
 *
 * This establishes the main-axis, thus defining the direction flex items are
 * placed in the flex container.
 *
 * - row (default): left to right in ltr; right to left in rtl
 * - row-reverse: right to left in ltr; left to right in rtl
 * - column: same as row but top to bottom
 * - column-reverse: same as row-reverse but top to bottom
 */
/**
 * flex-wrap: nowrap (default) | wrap | wrap-reverse
 *
 * This defines whether the flex container is single-line or multi-line, and
 * the direction of the cross-axis, which determines the direction new lines
 * are stacked in.
 *
 * - nowrap (default): single-line / left to right in ltr; right to left in rtl
 * - wrap: multi-line / left to right in ltr; right to left in rtl
 * - wrap-reverse: multi-line / right to left in ltr; left to right in rtl
 */
/**
 * align-items: flex-start | flex-end | center | baseline | stretch
 *
 * This defines the default behaviour for how flex items are laid out along the
 * cross axis on the current line. Think of it as the justify-content version
 * for the cross-axis (perpendicular to the main-axis).
 *
 * - flex-start: cross-start margin edge of the items is placed on the cross-start line
 * - flex-end: cross-end margin edge of the items is placed on the cross-end line
 * - center: items are centered in the cross-axis
 * - baseline: items are aligned such as their baselines align
 * - stretch (default): stretch to fill the container (still respect min-width/max-width)
 */
/**
 * justify-content: flex-start | flex-end | center | space-between | space-around
 *
 * This defines the alignment along the main axis. It helps distribute extra free
 * space leftover when either all the flex items on a line are inflexible, or are
 * flexible but have reached their maximum size. It also exerts some control over
 * the alignment of items when they overflow the line.
 *
 * - flex-start (default): items are packed toward the start line
 * - flex-end: items are packed toward to end line
 * - center: items are centered along the line
 * - space-between: items are evenly distributed in the line; first item is on the start line, last item on the end line
 * - space-around: items are evenly distributed in the line with equal space around them
 */
/**
 * flex (Applies to: child element / flex item)
 *
 * This is the shorthand for flex-grow, flex-shrink and flex-basis. The second
 * and third parameters (flex-shrink, flex-basis) are optional.
 * Default is "0 1 auto"
 */
@font-face {
  font-family: 'Bangers';
  src: url("../font/Bangers.ttf");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\000039}}
body {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000313}}
#viewport {
  font-family: 'Bangers';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000318}}
.slide {
  background: transparent url("../img/bg-slide.jpg") no-repeat;
  background-size: 100% 100%;
  color: #353849;
  font-family: 'Bangers';
  font-size: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000325}}
.slide .slide-title {
  font-family: 'Bangers';
  font-size: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000330}}
.slide .email {
  font-size: 30px;
  color: #F0F1F2;
  text-shadow: black 0 1px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000339}}
.slide[data-index="0"] {
  background-image: url("../img/bg-title.jpg");
  color: #F0F1F2;
  text-shadow: black 0 1px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000345}}
.slide[data-index="0"] .title-block {
  position: absolute;
  left: 0;
  bottom: 50px;
  margin: 0 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000352}}
.slide[data-index="0"] .speaker {
  font-size: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000356}}
.slide[data-index="0"] .title {
  font-size: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000360}}
.slide[data-index="0"] .email {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000365}}
.slide .block {
  padding: 0 100px;
  text-align: left;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000371}}
.slide ul {
  padding: 0 75px;
  list-style: disc outside none;
  text-align: left;
  display: inline-block;
}

@media (max-width: 1560px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000380}}
  .slide[data-index="0"] .title {
    font-size: 70px;
  }
}
@media (max-width: 1400px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000386}}
  .slide[data-index="0"] .title {
    font-size: 60px;
  }
}
@media (max-width: 1220px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000392}}
  .slide {
    font-size: 50px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/developer\/workspace\/retro-leader-tips\/src\/scss\/main\.scss}line{font-family:\0000396}}
  .slide[data-index="0"] .title {
    font-size: 50px;
  }
}

/*# sourceMappingURL=main.css.map */
