@import 'colors';
@import 'mixins';

body {
    overflow: hidden;
}

#viewport {
    font-family: 'Bangers';
    @include unselectable;
}

.slide {
    background: transparent url('../img/bg-slide.jpg') no-repeat;
    background-size: 100% 100%;
    color: $color_dark;

    .text {
        font-family: 'Bangers';

        &.big {
            font-size: 75px;
        }
    }

    .slide-title {
        font-family: 'Bangers';
        font-size: 45px;
    }

    .email {
        font-size: 30px;
        color: $color_light;
        text-shadow: black 0 1px;
        position: absolute;
        bottom: 50px;
        left: 50px;
    }

    &[data-index="0"] {
        background-image: url('../img/bg-title.jpg');
        color: $color_light;
        text-shadow: black 0 1px;
        text-align: left;

        .speaker {
            font-size: 45px;
            position: absolute;
            left: 100px;
            bottom: 220px;
        }

        .title {
            font-size: 80px;
            position: absolute;
            left: 100px;
            bottom: 50px;
        }

        .email {
            display: none;
        }
    }
}
