@import 'colors';
@import 'mixins';

html, body, #viewport {
    overflow: hidden;
    height: 100%;
}

body {
    background: $color_bg_main;
    color: $color_fg_main;
    overflow: hidden;
    font-family: 'Bangers';
    font-size: 12px;

    @include unselectable;
}


.slide {
    .text {
        font-family: 'Bangers';

        &.big {
            font-size: 75px;
        }
    }

    .slide-title {
        font-family: 'Bangers';
        font-size: 35px;
        text-decoration: underline;
    }
}
