@import 'colors';
@import 'mixins';

html, body, #viewport {
    overflow: hidden;
    height: 100%;
}

body, .dlg {
    background: $color_bg_main;
    color: $color_fg_main;
    overflow: hidden;
    font-family: Arial;
    font-size: 12px;

    @include unselectable;
}
